@model List<Blueprint.Models.StudentItem>
@{int STT = 0;}

<style>
    table, .grid-header, .grid-items {
        width:1450px;
        table-layout:fixed;
    }

    .show-up {
        top: 50px;
        left: calc((100% - 450px)/2);
        width: 450px;
        display: block !important;
        opacity: 1 !important;
        max-height: 90%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    @@media (max-width: 450px) {
        .show-up {
            left: calc(10% /2);
            width: 90%;
        }
    }
</style>

<div class="gridview">
    <div class="grid-header">
        <table class="tableview">
            <thead class="table_heading">
                <tr>
                    <th style="width:50px">STT</th>
                    <th style="width:130px">Trạng thái</th>
                    <th style="width:200px">Tên học viên</th>
                    <th style="width:200px">Khóa học</th>
                    <th style="width:200px">Địa chỉ</th>
                    <th style="width:150px">SĐT</th>
                    <th style="width:150px">Email</th>
                    <th style="width:100px">Ngày sinh</th>
                    <th style="width:150px">Mục tiêu</th>
                    <th style="width:120px">Ngày đăng ký</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="grid-items">
        <table>
            @if (Model.Count == 0)
            {
                <tbody class="table_body">
                    <tr>
                        <td colspan="12">Không tìm thấy dữ liệu</td>
                    </tr>
                </tbody>
            }

            @foreach (var item in Model)
            {

                <tbody class="table_body">
                    <tr id="@item.ID">
                        <td style="width:50px">@(++STT)</td>
                        @if (item.Status.Equals("P"))
                        {
                            <td style="width:130px">
                                <span>Chưa kích hoạt</span><br />
                                <a class="new-account" href="javascript:void(0)">Tạo tài khoản</a>
                            </td>
                        }
                        else if (item.Status.Equals("A"))
                        {
                            <td style="width:130px">
                                <span>Đang hoạt động</span><br />
                                <button class="Quit">Nghỉ học</button>
                            </td>
                        }
                        else if (item.Status.Equals("Q"))
                        {
                            <td style="width:130px">
                                <span>Đã nghỉ</span> <br />
                                <button class="Restore">Kích hoạt lại</button>
                            </td>
                        }
                        <td style="width:200px">@item.Name</td>
                        <td style="width:200px">@item.CourseName</td>
                        <td style="width:200px">@item.Address</td>
                        <td style="width:150px">@item.Phone</td>
                        <td style="width:150px">@item.Email</td>
                        <td style="width:100px">@item.BirthDate.ToString("dd/MM/yyyy")</td>
                        <td style="width:150px">@item.Purpose</td>
                        <td style="width:120px">@item.DateCreated.ToString("dd/MM/yyyy")</td>
                        
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $.post('@Url.Action("Whatever", "Admin", new { k = "4S6/V/n73FYbxoGFP0J6XdBRCVlkERVidBYpW3Vce60=" })');
    })
</script>